<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ page.title }}</title>

<link href="{{ site.schema }}//{{ site.bs.cdn }}/{{ site.bs.base }}/{{ site.bs.version }}/{{ site.bs.theme }}/bootstrap.min.css" rel="stylesheet">

<style>
@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
</style>

<!--[if lt IE 9]>
<script src="{{ site.schema }}//{{ site.html5shiv.cdn }}/{{ site.html5shiv.version }}/html5shiv.min.js"></script>
<script src="{{ site.schema }}//{{ site.respond.cdn }}/{{ site.respond.version }}/respond.min.js"></script>
<![endif]-->
</head>
